# 数据库配置（必须配置）
DB_HOST=
DB_USER=
DB_PASSWORD=

# 数据库配置（可选，有默认值）
DB_PORT=3306
DB_NAME=card_nav

# 服务端口（可选，默认 3002）
SERVER_PORT=3002


# AI访问密钥 (DeepSeek)
API_URL_3=https://api.deepseek.com/
MODEL_NAME_3=deepseek-v4-flash
API_KEY_3=